.contents {
  text-align: center;
  margin-top: 70px;
}

.text1{
  margin-bottom: 50px;
}

.question-info {
  color: grey;
  font-size: 12px;
}

.onboarding-dunno-btn {
  display: none;
  font-size: 16px;
}

.onboarding-next-btn {
  background-color: #403ca6;
  color: white;
  display: inline-block;
}

.purple {
  color: #403ca6;
}

.btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6 {
  background-color: #E4E6EB;
  margin-bottom: 5px;
}

.btn-1:focus, .btn-2:focus, .btn-3:focus, .btn-4:focus, .btn-5:focus, .btn-6:focus  {
  background-color: #403ca6;
  color: white;
}

.text2-text {
  color: #403ca6;
}

.text2Div {
  margin-bottom: 5px;
}
