.body {
  text-align: center;
}

.navbar-custom {
  /* background-color: #f2f2f9; */
}

.profile-image {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  overflow: hidden;
}

.logoImage {
  max-width:100px;
  max-height:50px;
  width: auto;
  height: auto;
}


.intro-text {
  text-align: center;
  font-weight: lighter;
}

.bold {
  font-weight: normal;
}

.next-btn {
  border: 2px solid #16c79a;
  color: #26725a;
  box-shadow: 0 4px 4px 0 rgba(225,229,227, 0.4), 0 6px 6px 0 rgba(225,229,227, 0.4);
  margin-top: 70px;
  margin-bottom: 20px;
  height: 80px;
}
