/* .contents {
  background-color: #E4E6EB;
  display: inline-block;
  height: 800px;
} */

.index-body {
  text-align: center;
}

.ask-div {
  position: relative;
}

.ask-tutor {
  height : 90px;
  width: 90px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.askBtn {
  height : 100%;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  color: grey;
  display: inline-block;
}

.profile-image {
  height : 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  overflow: hidden;
}

.stress {
  display: none;
}

.notWhatIWant {
  position: relative;
}

.notWhatIWant-div {
  height : 100px;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  padding-top: 20px;
}

.notWhatIWant-btn {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #edeff3;
  color: #353639;
  border-radius: 50px;

}

.moveToModal-btn {
  color: #E4E6EB;
}

.contents-div {
  text-align: center;
  display: inline-block;
  vertical-align:top;
  margin-top: 30px;
}

.title {
  width: 100%;
  text-align: center;
  color: #E4E6EB;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;

}

.text1 {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: lighter;
}

.image {
  object-fit: cover;
  overflow: visible;
  display: inline;
  margin-right: 50px;
}

.image-ctr {
  object-fit: cover;
  overflow: visible;
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

.margin-right-50 {
  margin-right: 50px;
}

.green {
  color : #16c79a;
}

.yellow {
  color : #f8dc81;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 20px;
  font-weight: lighter;
}

.medium {
  font-size: 26px;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.correctAnswer {
  color: red;
  font-size: 24px;
}

.underline {
  text-decoration: underline;
}

.left {
  text-align: left;
}

.btn-nav {
  width: 100%;
  display: inline-inline-block;
  left: 0;
  margin-bottom: 50px;

}

.answer-btn-div {
  display: none;
  text-align: center;
}

.question-text {
  font-size: 24px;
  margin-top: 50px;
}

.answer-A, .answer-B {
  /* background-color: #E4E6EB; */
  color: black;
  font-size: 28px;
  margin-right: 5px;
  width: 36px;
  display: inline-block;
  height: 52px;
  border-radius: 5px;
}

.answer-btn-1 {
  /* background-color: #E4E6EB; */
  color: black;
  font-size: 26px;
}

.answer-btn-2 {
  margin-top: 20px;
  /* background-color: #E4E6EB; */
  color: black;
  font-size: 26px;
}

.submit-btn, .next-btn {
  background-color: #E4E6EB;
  margin-top: 50px;
  height: 70px;
}

.next-btn {
  display: none;
}

.button-message {
  font-family: sans-serif;
  font-size: 25px;
}

.btns {
  margin-top: 50px;
  text-align: center;
  display: none;
}

.btn-difficulty {
  display: inline-block;
}

.btn-2, .btn-1 {
  width: 220px;
  height: 70px;
  font-size: 14px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  display: inline-block;
}

.btn-2 {
  background-color: #16c79a;
  box-shadow: 0 8px 8px 0 rgba(162,208,193, 0.3), 0 9px 25px 0 rgba(162,208,193, 0.3);
}

.btn-1 {
  background-color: #f8dc81;
  box-shadow: 0 8px 8px 0 rgb(248, 220, 129, 0.3), 0 9px 25px 0 rgb(248, 220, 129, 0.3);
  margin-right: 20px;
}

.btn-more {
  color: black;
  position: absolute;
  width: 80px;
  right: 50px;
}

/* The Question Modal */
.question-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.question-modal-content {
  background-color: #fefefe;
  margin-top: 3% auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  font-size: 28px;
  font-weight: lighter;
  display: inline-block;
}

.question-intro {
  font-weight : lighter;
}

.question-modal-text {
  padding-bottom: 50px;
}

.comments{

}

.email {
  font-size: 20px;
  margin-bottom: 20px;
  width: 340px;
}

.question-modal-btn {
  background-color: #16c79a;
  box-shadow: 0 8px 8px 0 rgba(162,208,193, 0.3), 0 9px 25px 0 rgba(162,208,193, 0.3);
  display: inline-block;
  margin: 50px, 0;
  color: white;
  height: 70px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  font-size: 28px;
  font-weight: lighter;
  display: inline-block;
}

.modal-text {
  padding-bottom: 50px;
}

.modal-btn1 {
  background-color: #f8dc81;
  box-shadow: 0 8px 8px 0 rgb(248, 220, 129, 0.3), 0 9px 25px 0 rgb(248, 220, 129, 0.3);
  position: inline-block;
  margin: 50px, 0;
  color: white;
  height: 70px;
}

.modal-btn2 {
  background-color: #16c79a;
  box-shadow: 0 8px 8px 0 rgba(162,208,193, 0.3), 0 9px 25px 0 rgba(162,208,193, 0.3);
  display: inline-block;
  margin: 50px, 0;
  color: white;
  height: 70px;
}

.modal-btn3 {
  background-color: #E4E6EB;
  display: inline-block;
  margin: 50px, 0;
  height: 70px;
  display: none;
}

/* The Close Button */
.close, .question-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* MOVE TO... */

.moveToModal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  font-size: 28px;
  font-weight: lighter;
  display: inline-block;
  border-radius: 40px;
}

.moveToModal-text {
  text-align: center;
  color: #494a4d;
  font-size: 35px;
  margin-bottom: 60px;
}

/* .moveToModal-text {
  font-weight: normal;
  color: #6c6e73;
  font-size: 24px;
  margin-bottom: 40px;
} */

.moveToModal-suDiv {
  /* background-color: #f7fffd; */
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.moveToModal-btn {
  background-color: #eaedf2;
  box-shadow: 0 8px 8px 0 rgba(0,0,0, 0.03), 0 9px 25px 0 rgba(0,0,0, 0.03);
  color: #494a4d;
  margin-bottom: 30px;
  margin-left: 30px;
  height: 200px;
  font-size: 24px;
}

.moveToModal-btn:hover,
.moveToModal-btn:focus {
  background-color: #16c79a;
  box-shadow: 0 8px 8px 0 rgba(162,208,193, 0.3), 0 9px 25px 0 rgba(162,208,193, 0.3);
  text-decoration: none;
  cursor: pointer;
}

.big {
  font-weight: lighter;
  font-size: 30px;
}

/* Question STEPS  */
.stepTxtNode {
  font-size: 24px;
  font-color: #737373;
}

.inputText {
  display: inline-block;
  font-size: 24px;
}

.input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #16c79a;
  padding: 5px;
  font-size: 24px;
  color: #007c5c;
  background-color: #e2f1ed;
}

.inputDiv {
  padding-left: 80px;
  margin-bottom: 40px;
}
